body::before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/배경.jpg");
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);
    z-index: -1; 
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
}
/*폰트*/
@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.namebox{
    position: absolute;
    border-radius: 80px;
    border: 3px solid white;
    background-color: plum;
    width: 600px;
    height: 60px;
    margin-left: 455px;
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
}
/*음악버튼*/
.btn{
    box-shadow: 0 0 2px rgb(234 57 184 / 90%), 0 0 4px rgb(234 57 184 / 40%), 0 0 1rem rgb(234 57 184 / 30%), 0 0 4rem rgb(234 57 184 / 10%);
    border-color: #ea39b8;
    background-color: purple;
    border-radius: 50%;
}
#playbtn{
    position: absolute;
    left: 90%;
    top: 7%;
    padding-top: 5px;
    padding-right: 3px;
}
#musicbtn{
    position: absolute;
    left: 94%;
    top: 7%;
    padding-top: 5px;
    padding-right: 5px;
}

button:disabled{ /* disabled 된 버튼 */
    background-color: gray;
}
.mychar{
    border-radius: 30px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 600px;
    height: 400px;
    z-index: 1;
    margin-left: 100px;
    margin-top: 150px;
    position: absolute;
}
.Malbum{
    width: 600px;
    height: 400px;
    overflow: hidden; 
} /* overflow 되면 숨긴다*/
.Mimages{ 
    display: flex; height: 400px; width: 2000px;
    transition-property: transform; /* transform 속성에대해, js코드에 의해 transform 스타일 추가된다*/
    transition-duration: 1s; /* transition 지속시간 */
}
.Mimage{width: 500px; height: 400px; margin-left : 200px; margin-top: 10px;}
.Mimage:nth-child(1){background-image: url("/img/hook/1.png"); background-repeat: no-repeat;}
.Mimage:nth-child(2){background-image: url("/img/hook/1.png"); background-repeat: no-repeat;}
.Mimage:nth-child(3){background-image: url("/img/hook/1.png"); background-repeat: no-repeat;}
.Mimage:nth-child(4){background-image: url("/img/hook/1.png"); background-repeat: no-repeat;}

.CharSelect{
    width: 600px;
    height: 400px;
    /* background-color: blueviolet; */
    box-shadow: 0 0 20px rgb(111 66 193 / 90%), 0 0 4px rgb(111 66 193 / 40%), 0 0 1rem rgb(111 66 193 / 30%), 0 0 4rem rgb(111 66 193 / 10%);
    color: #fff;
    background-color: rgb(111 66 193 / 30%);
    text-align: center;

    font-size: 30px;
    /* margin-left: %; */
    line-height: 60px;
    font-family: 'HS-Regular';
}

#select1{
    position: absolute;
    /* left: 50px;  */
    top: 5px;
    z-index: 2;
    border-radius: 20px;
}
.Mprev{
    width: 100px; height: 30px; border:none;
    color: white; background-color: blueviolet;
    position: absolute;
    left: 50px; 
    top: 200px;
    z-index: 1;
}
.Mnext{ 
    width: 100px; height: 30px; border:none;
    color: white; background-color: blueviolet;
    position: absolute;
    left: 450px;
    top: 200px;
    z-index: 1;
}

.complete{
    font-family: 'HS-Regular';
    width: 100px; height: 30px; border:none; 
    color: white; background-color: gray; 
    margin-left: 250px;
    font-size: 20px;
    line-height: 35px;
}
.complete:hover{
    background-color: blueviolet;
}
.completed{
    background-color: blueviolet;
}

/* .Start{
    border:none;
    color: white; background-color: gray; 
    margin-top: 620px;
    margin-left: 690px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}
.Start:hover{
    background-color: blueviolet;
} */
.Start{
    margin-top: 620px;
    margin-left: 690px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgba(17, 17, 17, 0.481);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.Start:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-Start 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

@keyframes glowing-Start {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.Start:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.481);
    left: 0;
    top: 0;
    border-radius: 10px;
  }
.youchar{
    border-radius: 30px;
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.251);
    width: 600px;
    height: 400px;
    z-index: 1;
    margin-left: 810px;
    margin-top: 150px;
    position: absolute;
}

.Yalbum{
    width: 600px;
    height: 400px; 
    overflow: hidden; 
} /* overflow 되면 숨긴다*/
.Yimages{ 
    display: flex; height: 400px; width: 2560px;
    transition-property: transform; /* transform 속성에대해, js코드에 의해 transform 스타일 추가된다*/
    transition-duration: 1s; /* transition 지속시간 */
}
.Yimage{width: 400px; height: 400px;}
.Yimage:nth-child(1){background-image: url("../img/r1.png");}
.Yimage:nth-child(2){background-image: url("../img/n1.png");}
.Yimage:nth-child(3){background-image: url("../img/i1.png");}
.Yimage:nth-child(4){background-image: url("../img/g1.png");}

#select2{
    position: absolute;
    /* left: 50px;  */
    top: 200px;
    z-index: 2;
}

.Yprev{
    width: 100px; height: 30px; border:none;
    color: white; background-color: blueviolet;
    position: absolute;
    left: 50px; 
    top: 200px;
    z-index: 1;
}
.Ynext{ 
    width: 100px; height: 30px; border:none;
    color: white; background-color: blueviolet;
    position: absolute;
    left: 450px;
    top: 200px;
    z-index: 1;
}

button:visited{
    background-color: blueviolet;
}