.box{
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
#out1{
    /*타자미리보기*/
    border-radius: 200px;
    width: 1000px;
    height: 60px;
    top: 20px;
    z-index: 1;
}
#out2{
    /*타자1*/
    border-radius: 200px;
    width: 1000px;
    height: 60px;
    top: 30px;
    right: 5px;
    z-index: 2;
}
.text{
    margin-left: 100px;
    line-height: 40px;
}
.taga{
    width: 900px;
    height: 40px;
    outline: none;
    border: none;
    margin-top: 9px;
    margin-left: 4%;
    font-size: 17px;
}