body {
    /* font-family: 'Lato', Arial, sans-serif;
    color: #989c9b;
    
     */
    background-image: url("/img/test.jpg");
    /* background-image: linear-gradient(#17082e 0%, #1a0933 7%, #1a0933 80%, #0c1f4c 100%); */
    background-attachment: fixed;
    font-family: 'Cafe24Ohsquareair';
    /* background-image: linear-gradient(blue, pink); */
    overflow-x: hidden;
  }
  /*폰트*/
  @font-face { /*제목 폰트*/
    font-family: 'EliceDigitalBaeum-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face { /*테이블 안에 글자 폰트*/
    font-family: 'Cafe24Ohsquareair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /*폰트end*/
  
  @keyframes flicker {/* .maintitle 애니메이션 */
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #fff,
        0 0 80px #fff,
        0 0 90px #fff
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  @keyframes flicker2 {/* .maintitle 애니메이션 */
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px rgb(253, 226, 255),
        0 0 11px rgb(253, 226, 255),
        0 0 19px rgb(253, 226, 255),
        0 0 40px rgb(253, 226, 255),
        0 0 80px rgb(253, 226, 255),
        0 0 90px rgb(253, 226, 255)
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
  
  .title{
    margin-top: 15vh;
    /* margin-left: 25vh;
    margin-right: 25vh; */
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: space-evenly;
  
  }
  
  .maintitle{ /*<h1>스트릿타자파이터<h1>*/
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    /* font-family: 'EF_WAKEUP';
    font-size: 5vh; */
    font-family: '116watermelon';
    font-size: 7vh;
  }
  
  .purple{
    animation: flicker2 1.5s infinite alternate;
  }
  
  .white{
    animation: flicker 1.5s infinite alternate;
  }
  
  .mainbody{
    top: 38%;
    position: absolute;
    width: 100%;
    text-align: -webkit-center;
  }
  
  .main_logo{
    position: absolute;
    width: 30vh;
    height: 30vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .InsertForm{
    width: 30vh;
  
    padding: 5.5vh;
  
    text-align: center;
  
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 1px 15px rgba(255, 255, 255, 0.9);
  
    border-radius: 2vh;
    -moz-border-radius: 2vh;
    -khtml-border-radius: 2vh;
    -webkit-border-radius: 2vh;
  }
  
  input {
    width: 22vh;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
  }
  .startBtn{
    width: 10vh;
  }
  
  @font-face {
    font-family: 'EF_WAKEUP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_WAKEUP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: '116watermelon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116watermelon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }