body{
    margin: 0;
    padding: 0;
    /* background:
      linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
      linear-gradient(127deg, rgba(255, 196, 0, 0.8), rgba(0,255,0,0) 70.71%),
      linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    /* background: #213f54; */
    /* background-image: url("/img/ranking배경.jpg"); */
    background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    background-attachment: fixed;
    font-family: sans-serif;
}
ul
{
    position:  relative;
    width:450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}
ul li
{
    display: flex;
    background-color: rgba(255,255,255,.1);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: .5s;
}
ul li:nth-child(1)
{
    background-color: rgba(255,255,255,.6);
}
ul li:nth-child(1)
{
    background-color: rgba(255,255,255,.4);
}
ul li:nth-child(3)
{
    background-color: rgba(255,255,255,.2);
}
ul li span:nth-child(1)
{
    width: 30px;
}
ul li span:nth-child(2)
{
    width: 200px;
}
ul li span:nth-child(3)
{
    width: 100px;
    text-align: right;
}
ul li span:nth-child(4)
{
    width: 70px;
    text-align: right;
}
ul li:hover
{
    transform:scale(1.06);
    background-color: #6fa0bf;
}