body {
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/test.jpg");
  /*background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);*/
}
h1{
  position: absolute;
  top: 5px;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

/*랭킹*/
.ranking{
  position:  relative;
  margin-top: -90px;
}

  ul
{
    position:  relative;
    width:450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2;
}
ul li
{
    display: flex;
    background-color: rgba(255,255,255,.1);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: .5s;
}
ul li:nth-child(1)
{
    background-color: rgba(255,255,255,.6);
}
ul li:nth-child(1)
{
    background-color: rgba(255,255,255,.4);
}
ul li:nth-child(3)
{
    background-color: rgba(255,255,255,.2);
}
ul li span:nth-child(1)
{
    width: 30px;
}
ul li span:nth-child(2)
{
    width: 200px;
}
ul li span:nth-child(3)
{
    width: 100px;
    text-align: right;
}
ul li span:nth-child(4)
{
    width: 70px;
    text-align: right;
}
ul li:hover
{
    transform:scale(1.06);
    background-color: #946fbf;
}

@keyframes flicker {/* .maintitle 애니메이션 */
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #fff,
      0 0 80px #fff,
      0 0 90px #fff
  }
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.maintitle{ /*<h1>스트릿타자파이터<h1>*/
  display: flex;
  justify-content: center;
  animation: flicker 1.5s infinite alternate;
  color: white;
  text-align: center;
  /* font-family: 'EF_WAKEUP';
  font-size: 5vh; */
  font-size: 7vh;
}

.btn{
  float: right;
  width: 10vh;
  height: 4vh;
  cursor: pointer;
  
  background-color: white;
  box-shadow: 0px 1px 5px rgba(201, 151, 251, 0.9);

  border: none;
  border-radius: 1.5vh;
  -moz-border-radius: 1.5vh;
  -khtml-border-radius: 1.5vh;
  -webkit-border-radius: 1.5vh;

  text-align: center;
  font-family: 'EliceDigitalBaeum_Bold';

  transition: all 0.3s ease 0s;

  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  transform: translateY(-30px) translateX(-50%);
  background-color: rgb(214, 170, 255);
}