<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/charView.css"/>
    <title>캐릭터선택화면</title>
</head>
<body>
    
</body>
    <div class="namebox">
        <h1 style="color: black;">방이름 : 아무개방</h1>
    </div>
    <div class="content">
        <div class="mychar">
            <div class="Malbum">
                <div class="Mimages">
                    <div class="Mimage"></div>
                    <div class="Mimage"></div>
                    <div class="Mimage"></div>
                    <div class="Mimage"></div>
                </div>
            </div>
            <div class="CharSelect" id="select1">캐릭터 선택 완료!</div>
            <button class="Mprev">PREV</button>
            <button class="Mnext">NEXT</button>
            <h1 style="color: white; text-align: center;">mychar</h1>
            <button class="complete" onclick="complete()">완료</button>
        </div>
        <div class="youchar">
            <div class="Yalbum">
                <div class="Yimages">
                    <div class="Yimage"></div>
                    <div class="Yimage"></div>
                    <div class="Yimage"></div>
                    <div class="Yimage"></div>
                </div>
            </div>
            <div class="CharSelect" id="select2">캐릭터 선택 완료!</div>
            <button class="Yprev">PREV</button>
            <button class="Ynext">NEXT</button>
            <h1 style="color: white; text-align: center;">youchar</h1>
        </div>
    </div> <!--content end-->

<script src="/js/charView.js"></script>
</html>