<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>게임실행화면</title>
</head>
<body>
    <div>
        <button style="width: 50px; height: 50px;" class="btn" id="playbtn" onclick="MusicPlay()"><img class="btnimg" src="../img/pause.png"/></button>
        <button style="width: 50px; height: 50px;" class="btn" id="musicbtn" onclick="MusicSelect()"><img src="../img/music.png"/></button>
    </div>
    <div class="box" id="out1">
        <span class="word-display"></span>
    </div>
    <div id="taja">
        <div class="box" id="out2">
            <!-- <input type="text" class="word-input" placeholder=타자치는곳 autofocus> -->
            <input type="text" class="word-input" autofocus>
        </div>
    </div>
    <!-- <button id="btn">next</button> -->
    <div class="Characters">
        <img src="/img/ygx/ygx1.png" id="mychar">
        <img src="/img/wavy/wavy1.png" id="youchar">
    </div>
    <!-- <script src="/js/game.js"></script> -->
</body>
<script src = "/js/game.js"></script>
</html>