<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png">
    <title>Street TAJA Fighter</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="display1">

    </div>
    <div class="start">
        <span class="count"></span>
    </div>
    <div>
        <button style="width: 50px; height: 50px;" class="btn" id="playbtn" onclick="MusicPlay()"><img class="btnimg" src="../img/play.png"/></button>
        <button style="width: 50px; height: 50px;" class="btn" id="musicbtn" onclick="MusicSelect()"><img src="../img/music.png"/></button>
    </div>
    <div class="box" id="out1">
        <span class="word-display"></span>
    </div>
    <div id="taja">
        <div class="box" id="out2">
            <!-- <input type="text" class="word-input" placeholder=타자치는곳 autofocus> -->
            <input type="text" class="word-input" autofocus>
        </div>
    </div>

    <p class="state"><span class="NowText">1</span><span>/</span><span class="TotalText">4</span></p>
    
    <div class="effect">
        <!-- 나의조명 -->
        <div class="bulb-holder" id="m1">
            <div class="bulb">
                <div class="light"></div>
            </div>
        </div>
        <div class="bulb-holder" id="m2">
            <div class="bulb">
                <div class="light"></div>
            </div>
        </div>
        <div class="bulb-holder" id="m3">
            <div class="bulb">
                <div class="light"></div>
            </div>
        </div>

        <!-- 상대조명 -->
        <div class="bulb-holder" id="y1">
            <div class="bulb">
                <div class="light"></div>
            </div>
        </div>
        <div class="bulb-holder" id="y2">
            <div class="bulb">
                <div class="light"></div>
            </div>
        </div>
        <div class="bulb-holder" id="y3">
            <div class="bulb">
                <div class="light"></div>
            </div>
        </div>
    </div>

    <div class="effect2">
        <!-- 내꺼 -->
        <!-- 좋을 때 효과 -->
        <img id="m4_1" src="/img/꽃가루효과.gif"/>
        <img id="m4_2" src="/img/꽃가루효과.gif"/>
        <img id="m5" src="/img/꽃가루효과2.gif"/>
        <img id="m6" src="/img/프레임효과.gif"/>
        <img id="m7" src="/img/미러볼효과.gif"/>
        <img id="m8" src="/img/조명.png"/>
        <!-- 안좋을 때 효과 -->
        <div class="norespectz_my"></div>
        <!-- 상대 -->
        <img id="y4_1" src="/img/꽃가루효과.gif"/>
        <img id="y4_2" src="/img/꽃가루효과.gif"/>
        <img id="y5" src="/img/꽃가루효과2.gif"/>
        <!-- <img id="y6" src="/img/프레임효과.gif"/> -->
        <!--<img id="y8" src="/img/미러볼효과.gif"/> -->
    </div>

    <!-- 게이지 바 -->
    <p id="mycount">0</p>
    <div class="prog" id="myprog">
        <div class="progs" id="myprogressing"></div>
    </div>
    <p id="youcount">0</p>
    <div class="prog" id="yourprog">
        <div class="progs" id="yourprogressing"></div>
    </div>

    <div class="Characters">
        <img src="/img/hook/1.png" id="mychar">
        <img src="/img/lachica/1.png" id="youchar">
    </div>

    <div class="ending">
        <img src="/img/트로피.gif" id="mywin"/>
        <img src="/img/트로피.gif" id="yourwin"/>
    </div>
    <button class="ending" onclick="move()"><img src="/img/endingbtn.png"></button>
    <!-- 모달 창 : 상대방 게임방 나감 -->
    <div class="modal">
        <div class="modal-content">
            <div class="title">게임 진행 불가</div>
            <div class="subtitle">
                상대방이 게임방을 나갔습니다.<br/>
                메인 화면으로 이동하여 새로운 게임을 진행해주세요.
            </div>
            <button class="modal-btn" onclick="home()">메인으로</button>
        </div>
    </div>
    <!-- 게임방 입장  -->
    <div class="inAlert">구리구리123님이 게임방에 입장하였습니다.</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.js"></script>
<script src = "/js/game.js"></script>
</html>