<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png">
    <title>Street TAJA Fighter</title>
</head>

<body>
    <header class="title">
        <span class="maintitle white">스트릿 </span>
        <span class="maintitle purple">타자</span>
        <span class="maintitle white">파이터</span>
    </header>
    <div class="mainbody">
        <form class="InsertForm" action="./game" name="loginForm" method="get">
            <p>닉네임: <input type="text" name="nickname" /></p>
            <p>방이름: <input type="text" name="roomname" /></p>
            <input class="startBtn" type="submit" value="시작하기" />
        </form>
    </div>
</body>
<!-- <script src = "/socket.io/socket.io.js"></script> -->

</html>