<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/ListView.css" />
    <title>게임서버들어가기</title>
</head>

<body>
    <div class="container">
        <header>
            <span class="maintitle">스트릿타자파이터</span>
            <!--모달창-->
                <button class="trigger">+</button>
                <div class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h1 class="title">방 생성</h1>
                            <!--속성 드롭바-->
                            <section id="theme">
                                <div class="select">선택</div>
                            </section>
                            <!--코드 드롭바-->
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <span class="dropbtn_content">코드를 선택하세요</span>
                                    <img src="../img/arrow.png" class="dropbtn_click" style="width: 25px; height: 25px; float:right;" onclick="dropdown()"/>
                                </button>
                                <div class="dropdown-content">
                                    <div class="code" onclick="showMenu(this.innerText, 0)">사칙연산 - JAVA</div>
                                    <div class="code
                                    " onclick="showMenu(this.innerText, 1)">역참조 배제하기 - JS</div>
                                    <div class="code" onclick="showMenu(this.innerText, 2)">양의 정수 - JS</div>
                                    <div class="code" onclick="showMenu(this.innerText, 3)">스크롤 만들기 - Android</div>
                                    <div class="code" onclick="showMenu(this.innerText, 4)">파일 업로드 - PHP</div>
                                </div>
                            </div>
                            <!--방이름-->
                            <!-- <p class="title1">방이름</p>
                            <div class="input-box1">
                                <input type="text" class="input-name1"/>
                            </div> -->
                            <div class="title2">닉네임</div>
                            <div class="input-box2">
                                <input type="text" class="input-name2"/>
                            </div>
                        <div class="modal-btn">
                            <button id="select" type = "submit" onclick="handleRoomSubmit()">생성</button>
                            <button id="cancel">취소</button>
                        </div>
                    </div>
                </div>
            <!--모달창end-->
        </header>
        <!--테이블-->
        <div class="wrapper">
            <table id = "tagArea">
                <!--모달창-->
                <div class="modal2">
                    <div class="modal-content2">
                        <span class="close-button2">&times;</span>
                        <h1 class="title" style="text-align: center;">닉네임 입력</h1>
                            <div class="title2" id="modal2-name1">닉네임</div>
                            <div class="input-box2" id="modal2-name2">
                                <input type="text" class="input-name2"/>
                            </div>
                        <div class="modal-btn2">
                            <button id="select2" type = "submit" onclick="handleRoomSubmit()">GO!</button>
                            <button id="cancel2">취소</button>
                        </div>
                    </div>
                </div>
                <!--모달창end-->
                <tbody id = "welcome">
                    <tr id="head">
                        <td></td>
                        <td>Language</td>
                        <td>NickName</td>
                        <td>CLICK</td>
                    </tr>
                    <div id = "sd">
                    <tr>
                        <td class="number">1</td>
                        <td class="Language">Android</td>
                        <td class="NickName">쭈꾸</td>
                        <td class="Startbtn" id = "1"><button class="Clickbtn">CLICK</button>
                        </td>
                    </tr>
                </div>
                </tbody>
            </table>
            <img src="../img/logo3.png" class="logo"/>
        </div>
    </div>
</body>
<script src = "/socket.io/socket.io.js"></script>
<script src = "/js/ListView.js"></script>

</html>