<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/ListView.css" />
    <title>게임서버들어가기</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Dance with TAJA</h1>
            <!--모달창-->
                <button class="trigger">방생성</button>
                <div class="modal">
                    <div class="modal-content">
                        <span class="close-button">&times;</span>
                        <h1 class="title">방 생성</h1>
                            <!--속성 드롭바-->
                            <section id="theme">
                                <div class="select">
                                <div class="text">선택</div>
                                <ul class="option-list">
                                    <li class="option">JAVA</li>
                                    <li class="option">JS</li>
                                    <li class="option">Android</li>
                                </ul>
                                </div>
                            </section>
                            <!--코드 드롭바-->
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <span class="dropbtn_content">코드를 선택하세요</span>
                                    <img src="../img/arrow.png" class="dropbtn_click" style="width: 25px; height: 25px; float:right;" onclick="dropdown()"/>
                                </button>
                                <div class="dropdown-content">
                                    <div class="code" onclick="showMenu(this.innerText, 0)">사칙연산 - JAVA</div>
                                    <div class="code" onclick="showMenu(this.innerText, 1)">역참조 배제하기 - JS</div>
                                    <div class="code" onclick="showMenu(this.innerText, 2)">양의 정수 - JS</div>
                                    <div class="code" onclick="showMenu(this.innerText, 3)">스크롤 만들기 - Android</div>
                                    <div class="code" onclick="showMenu(this.innerText, 4)">파일 업로드 - PHP</div>
                                </div>
                            </div>
                            <!--방이름-->
                            <p>방이름</p>
                            <div class="input-box">
                                <input type="text" class="input-name"/>
                            </div>
                        <div class="modal-btn">
                            <button id="select" type = "submit">생성</button>
                            <button id="cancel">취소</button>
                        </div>
                    </div>
                </div>
            <!--모달창end-->
        </header>
        <div class="wrapper">
            <table id = "tagArea">
                <!-- <thead>
                    <tr>
                        <th>방번호</th>
                        <th>방이름</th>
                        <th>닉네임</th>
                        <th>버튼</th>
                    </tr>
                </thead> -->
                <tbody>
                    <tr>
                        <td class="rank">2</td>
                        <td class="team">Germany</td>
                        <td class="points">뿌꾸</td>
                        <td class="Startbtn" id = "2"><button class="custom-btn btn-16">CLICK</button></td>
                    </tr>  
                </tbody>
            </table>
        </div>
    </div>
    <!--모달창-->

</body>
<script src = "/socket.io/socket.io.js"></script>
<script src = "/js/ListView.js"></script>

</html>