<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/css/ListView.css" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/logo.png">
    <script src = "/js/ListView.js"></script>
    <title>Street TAJA Fighter</title>
</head>

<body>
    <div class="container">
        <form action="/form" method="post">    
        <header>
            <span class="maintitle">Street TAJA Fighter</span>
            <button class="trigger" onclick="toggleModal()">+</button>
            <!-- <button style="width: 50px; height: 50px;" class="btn" id="playbtn" onclick="MusicPlay()"><img class="btnimg" src="../img/pause.png"/></button>
            <button style="width: 50px; height: 50px;" class="btn" id="musicbtn" onclick="MusicSelect()"><img src="../img/music.png"/></button> -->
            <!--모달창-->
                <div class="modal">
                    <div class="modal-content">
                        <span class="close-button" onclick="toggleModal()">&times;</span>
                        <h1 class="title">방 생성</h1>
                            <!--속성 드롭바-->
                            <section id="theme">
                                <div class="select">선택</div>
                            </section>
                            <!--코드 드롭바-->
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <span class="dropbtn_content">코드를 선택하세요</span>
                                    <img src="../img/arrow.png" class="dropbtn_click" style="width: 25px; height: 25px; float:right;" onclick="dropdown()"/>
                                </button>
                                <div class="dropdown-content">
                                    <div class="code" id="code1" onclick="showMenu(this.innerText, 0)">사칙연산 - JAVA</div>
                                    <div class="code" id="code2" onclick="showMenu(this.innerText, 1)">역참조 배제하기 - JS</div>
                                    <div class="code" id="code3" onclick="showMenu(this.innerText, 2)">양의 정수 - JS</div>
                                    <div class="code" id="code4" onclick="showMenu(this.innerText, 3)">스크롤 만들기 - Android</div>
                                    <div class="code" id="code5" onclick="showMenu(this.innerText, 4)">파일 업로드 - PHP</div>
                                </div>
                            </div>
                            <!--방이름-->
                            <!-- <p class="title1">방이름</p>
                            <div class="input-box1">
                                <input type="text" class="input-name1"/>
                            </div> -->
                            <div class="title2">닉네임</div>
                            <div class="input-box2">
                                <input type="text" id="roomName" class="input-name2"/>
                            </div>
                        <div class="modal-btn">
                            <button id="select" type = "submit" onclick="CreateRoom()">생성</button>
                            <button id="cancel" onclick="toggleModal()">취소</button>
                        </div>
                    </div>
                </div>
            <!--모달창end-->
        </header>
        <!--테이블-->
        <div class="head">
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <td id="tdlaguage">Language</td>
                        <td id="tdname">NickName</td>
                        <td id="tdclick">CLICK</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div >
            <form action="./game" name="loginForm" method="get">
                <p>닉네임: <input type="text" name="nickname" /></p>
                <p>방이름: <input type="text" name="roomname" /></p>
                <input type="submit" value="시작하기" />
            </form>
        </div>
        <div class="wrapper">
            <!--모달창-->
            <div class="modal2">
                <div class="modal-content2">
                    <span class="close-button2" onclick="toggleModal2()">&times;</span>
                    <h1 class="title" style="text-align: center;">닉네임 입력</h1>
                        <div class="title2" id="modal2-name1">닉네임</div>
                        <div class="input-box2" id="modal2-name2">
                            <input type="text" class="input-name2"/>
                        </div>
                    <div class="modal-btn2">
                        <button id="select2" type = "submit" onclick="handleRoomSubmit()">GO!</button>
                        <button id="cancel2" onclick="toggleModal2()">취소</button>
                    </div>
                </div>
            </div>
            <!--모달창end-->
            <table id = "tagArea">
                <tbody class="wprtbody">
                    <script>
                        roomList();
                    </script>
                </tbody>
            </table>
            <img src="../img/logo.png" class="logo"/>
        </div>
        </form>
    </div>
</body>
<!-- <script src = "/socket.io/socket.io.js"></script> -->

</html>