<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>RANKING</title>
    <link rel="stylesheet" href="/css/ranking.css" />
    <script src = "/js/ranking.js"></script>
</head>
<body>
    <h1 class="maintitle">Ranking</h1>

    <div class="ranking">
        <ul class="ranklist">
            <script>
                rankList() 
            </script>
           
        </ul>
    </div>
    <div>
        <button class="btn" onclick="home()">메인으로</button>
    </div>
</body>
</html>