<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <title>RANKING</title>
    <link rel="stylesheet" href="/css/ranking.css" />
</head>
<body>
    <!-- <h1 class="test"><span class="title">R</span><span class="title">A</span><span class="title">N</span><span class="title">K</span><span class="title">I</span><span class="title">N</span><span class="title">G</span></h1>
    <a href="../index.html"><p>Dance with TAJA</p></a> -->
    <h1>Ranking</h1>
    <div class= "container">
        <div class= "handle-one"></div>
        <div class= "handle-two"></div>
        <div class= "button-one"></div>
        <div class= "button-two"></div>
        <div class= "button-three"></div>
        <div class= "button-four"></div>
        <div class= "button-five"></div>
        <div class= "button-six"></div>
        <div class= "btn-one"></div>
        <div class= "btn-two"></div>
        <div class= "btn-three"></div>
        <div class= "btn-four"></div>
        <div class= "btn-five"></div>
        <div class= "btn-six"></div>
        <div class= "btn-seven"></div>
        <div class= "box-big">
            <div class= "upper">
                <div class= "rect-one"></div>
                <div class= "rect-two"></div>
                <div class= "sq-one"></div>
                <div class= "sq-two"></div>
                <div class= "circle-one"></div>
                <div class= "circle-two"></div>
                <div class= "sq-three"></div>
                <div class= "sq-four"></div>
                <div class= "lower">
                    <div class= "c-one"></div>
                    <div class= "c-two"></div>
                    <div class= "c-three"></div>
                    <div class= "c-four"></div>
                    <div class= "c-five"></div>
                    <div class= "c-six"></div>
                    <div class= "c-seven"></div>
                    <div class= "c-eight"></div>
                    <div class= "r-one"></div>
                    <div class= "r-two"></div>
                    <div class= "r-three"></div>
                    <div class= "r-four"></div>
                    <div class= "r-five"></div>
                    <div class= "r-six"></div>
                    <div class= "r-seven"></div>
                    <div class= "r-eight"></div>
                    <div class= "r-nine"></div>
                    <div class= "r-ten"></div>
                    <div class= "r-eleven"></div>
                    <div class= "r-twelve"></div>
                    <div class= "c-nine"></div>
                    <div class= "c-ten"></div>
                    <div class= "c-eleven"></div>
                </div>
                <div class= "b-one">
                    <div class= "one"></div>
                    <div class= "two"></div>
                </div>
                <div class= "b-two">
                    <div class= "three"></div>
                    <div class= "four"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ranking">
        <ul>
            <li>
                <span class="number">1</span>
                <span class="name" id = "name1">John</span>
                <span class="points" id = "num1">95</span>
                <span class="badge"><i class="fas fa-trophy"></i></span>
            </li>
            <li>
                <span class="number">2</span>
                <span class="name" id = "name2">Adam</span>
                <span class="points" id = "num2">95</span>
                <span class="badge"><i class="fas fa-trophy"></i></span>
            </li>
            <li>
                <span class="number">3</span>
                <span class="name" id = "name3">Kevin</span>
                <span class="points" id = "num3">95</span>
                <span class="badge"><i class="fas fa-trophy"></i></span>
            </li>
            <li>
                <span class="number">4</span>
                <span class="name" id = "name4">Smith</span>
                <span class="points" id = "num4">95</span>
                <span class="badge"><i class="fas fa-medal"></i></span>
            </li>
            <li>
                <span class="number">5</span>
                <span class="name" id = "name5">Michel</span>
                <span class="points" id = "num5">95</span>
                <span class="badge"><i class="fas fa-medal"></i></span>
            </li>
            <li>
                <span class="number">6</span>
                <span class="name" id = "name6">John</span>
                <span class="points" id = "num6">95</span>
                <span class="badge"><i class="fas fa-medal"></i></span>
            </li>
            <li>
                <span class="number">7</span>
                <span class="name" id = "name7">Adam</span>
                <span class="points" id = "num7">95</span>
                <span class="badge"><i class="fas fa-award"></i></span>
            </li>
            <li>
                <span class="number">8</span>
                <span class="name" id = "name8">Kevin</span>
                <span class="points" id = "num8">95</span>
                <span class="badge"><i class="fas fa-award"></i></span>
            </li>
            <li>
                <span class="number">9</span>
                <span class="name" id = "name9">Smith</span>
                <span class="points" id = "num9">95</span>
                <span class="badge"><i class="fas fa-award"></i></span>
            </li>
            <li>
                <span class="number">10</span>
                <span class="name" id = "name10">Michel</span>
                <span class="points" id = "num10">95</span>
                <span class="badge"><i class="fas fa-award"></i></span>
            </li>
        </ul>
    </div>
    <button class="return">게임 다시하기</button>
</body>
</html>