<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/game.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>게임실행화면</title>
</head>
<body>
    <div class="box" id="out1">
        <span class="word-display"></span>
    </div>
    <div id="taja">
        <div class="box" id="out2">
            <input type="text" class="word-input" placeholder="타자치는 곳" autofocus> 
            <!--autofocus : 마우스로 클릭하지 않아도 자동으로 커서가 작동되는 속성-->
        </div>
    </div>
    <!-- <button id="btn">next</button> -->
    <div class="Characters">
        <img src="/css/r1.jpg" id="mychar">
        <img src="/css/노제.gif" id="youchar">
    </div>
    <!-- <script src="/js/game.js"></script> -->
</body>
<script src = "/js/game.js"></script>
</html>