<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/game.css"/>
    <title>게임실행화면</title>
</head>
<body>
    <div class="box" id="out1">
        <div class = "tx" id = "now">안녕하세요</div>
        <input type="text" class="taga" id = "nowinput">
    </div>
    <div class="box" id="out2">
        <div class = "tx" id = "next">안녕하세요</div>
        <input type="text" class="taga" id = "nextinput" autofocus > <!--autofocus : 마우스로 클릭하지 않아도 자동으로 커서가 작동되는 속성-->
    </div>
    <div class="box" id="play"></div>

</body>
<script src = "./js/game.js"></script>
</html>